@import "../../../assets/styles/global/_variables.scss";
@import "../../../assets/styles/global/_mixins.scss";
.small-header {
    display: none;

    @media screen and (max-width: 600px) {
        // display: block;
    }
}
.header {
    @media screen and (max-width: 600px) {
        // display: none;
    }

    max-width: 1200px;
    // background-image: url("../../../../../public/bg.jpg");
    // // margin: 1.75rem 2rem;
    // object-fit: cover;
    // min-height: 800px;
    width: 90%;
    // position: fixed;
    position: absolute;
    z-index: 10;

    .navHeader {
        height: 102px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        // .nav__header {
        // }
        .appLogo_letter {
            margin-left: 15px;
            font-family: "Lucida Sans Unicode Regular";
            padding: 0 1rem;
            margin: 0;
            // height: 25px;
            color: $color-abbey;
            font-size: 21px;
            white-space: nowrap;
        }
        .appLogo_container {
            position: relative;
            width: 45px;
            height: 45px;

            img {
                padding-bottom: 10px;
            }
        }

        .rightHeader {
            // color: red;
            flex: 1 1 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            height: 25px;
            .button {
                // font-family: "Lucida Sans Unicode Regular";
                font-family: "PalmBeach Trial", sans-serif;
                font-weight: bolder;
                line-height: 1;
                color: $color-abbey;
                padding: 0px 10px 0px 10px;
            }

            .slogan {
                font-size: 32px;

                font-weight: bolder;
                color: whitesmoke;
            }

            nav {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .menuOption {
                    padding: 10px;
                    margin: 0 5px;
                    color: whitesmoke;
                    border: 2px solid whitesmoke;
                    border-radius: 10px;
                }

                a:visited,
                a:active,
                a:link,
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
