@import "../../../assets/styles/global/_variables.scss";
@import "../../../assets/styles/global/_mixins.scss";
.header_mobile {
    display: none;
    .navHeader {
        height: 102px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;

        .appLogo_container {
            margin-top: 1.5rem;
        }
        .slidemenu {
            padding: 1rem;
            color: #fff;
            font-family: "Montserrat", Arial, serif;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            font-weight: bolder;
            background-color: rgba(17, 48, 92, 0.401);
            z-index: 12;
            a {
                padding: 10px;
                border-color: white;
            }
        }

        .appLogo_container {
            position: relative;
            width: 45px;
            height: 45px;

            img {
                padding-bottom: 10px;
            }
        }
        .topnav {
            margin-top: 1.2rem;
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: right;
        }
    }

    @media screen and (max-width: 650px) {
        display: block;
        width: 90%;
        // position: fixed;
        position: absolute;
        z-index: 10;
    }
}
.header {
    @media screen and (max-width: 650px) {
        display: none;
    }
    max-width: 1200px;
    width: 90%;
    position: absolute;
    z-index: 10;
    .navHeader {
        height: 102px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .appLogo_container {
            position: relative;
            width: 45px;
            height: 45px;
            img {
                padding-bottom: 10px;
            }
        }

        .rightHeader {
            flex: 1 1 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            height: 25px;
            .button {
                font-family: "PalmBeach Trial", sans-serif;
                font-weight: bolder;
                line-height: 1;
                color: $color-abbey;
                padding: 0px 10px 0px 10px;
            }

            .slogan {
                font-size: 32px;

                font-weight: bolder;
                color: whitesmoke;
            }

            nav {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                .menuOption {
                    padding: 10px;
                    margin: 0 5px;
                    color: whitesmoke;
                    border: 2px solid whitesmoke;
                    border-radius: 10px;
                }

                a:visited,
                a:active,
                a:link,
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
