@import "../../../assets/styles/global/_mixins.scss";

.footer {
    font-family: "Montserrat", Arial, serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer_text {
        text-align: center;
        font-size: 1.5rem;
    }
    .footer_column {
        display: flex;
        padding: 30px 0;
        // min-width: 800px;

        .columnItem {
            text-wrap: nowrap;
            flex: 1 1 0;
            padding-right: 1.5rem;
            display: flex;
            flex-direction: column;
            text-align: left;
            .columnItem_header {
                text-transform: uppercase;
                font-weight: bolder;
            }
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}
