@import "../../../assets/styles/global/_mixins.scss";

.footer {
    font-family: "Montserrat", Arial, serif;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer_text {
        text-align: center;
        font-size: 1.5rem;
    }
    // .brand_intro {
    //     padding-top: 40px;
    //     height: 148px;
    //     display: flex;
    //     .footer_Logo {
    //         height: 80px;
    //         width: 90px;
    //         max-width: 60%;
    //         max-height: 102px;
    //         // background-image: url("../../../../public/ttfs-logo.png");
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //     }
    //     .right {
    //         display: flex;
    //         flex-direction: column;
    //         text-align: left;
    //         align-items: flex-start;
    //     }

    .footer_column {
        display: flex;
        padding: 30px;
        // min-width: 800px;

        .columnItem {
            text-wrap: nowrap;
            flex: 1 1 0;
            padding-right: 1.5rem;
            display: flex;
            flex-direction: column;
            text-align: left;
            .columnItem_header {
                text-transform: uppercase;
                font-weight: bolder;
                // font-family: "PalmBeach Trial", sans-serif;
            }
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}
