@import "../assets/styles/global/_variables.scss";

.download {
    padding: 90px 25px;
    font-weight: bolder;
    font-family: "PalmBeach Trial", sans-serif;
    color: $color-abbey;

    .name_logo_style {
        max-width: 290px;
        padding-bottom: 5px 0;
    }

    .btn_set {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;

        button {
            color: white;

            background-color: rgb(55, 52, 52, 0.6);
            padding: 15px 36px;
            border-radius: 2px;
            margin-right: 15px;
        }
    }
}
