@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../app/assets/styles/global/mixins";

@font-face {
    font-family: "Alegre Sans Regular NC"; /*Can be any text*/
    src: url(./assets/fonts/alegre-sans-nc.eot);
    src: url(./assets/fonts/alegre-sans-nc.eot?#iefix)
            format("embedded-opentype"),
        url(./assets/fonts/alegre-sans-nc.woff2) format("woff2"),
        url(./assets/fonts/alegre-sans-nc.woff) format("woff"),
        url(./assets/fonts/alegre-sans-nc.ttf) format("truetype"),
        url(./assets/fonts/alegre-sans-nc.svg#alegre_sansregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lucida Sans Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Regular"),
        url(./assets/fonts/lucida-sans/LSANS.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Italic"),
        url(./assets/fonts/lucida-sans/LSANSI.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Demibold Roman";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Demibold Roman"),
        url(./assets/fonts/lucida-sans/LSANSD.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Demibold Italic";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Demibold Italic"),
        url(./assets/fonts/lucida-sans/LSANSDI.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Typewriter Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Typewriter Regular"),
        url(./assets/fonts/lucida-sans/LTYPE.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Unicode Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Unicode Regular"),
        url(./assets/fonts/lucida-sans/l_10646.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Typewriter Oblique";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Typewriter Oblique"),
        url(./assets/fonts/lucida-sans/LTYPEO.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Typewriter Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Typewriter Bold"),
        url(./assets/fonts/lucida-sans/LTYPEB.woff) format("woff");
}

@font-face {
    font-family: "Lucida Sans Typewriter Bold Oblique";
    font-style: normal;
    font-weight: normal;
    src: local("Lucida Sans Typewriter Bold Oblique"),
        url(./assets/fonts/lucida-sans/LTYPEBO.woff) format("woff");
}

@font-face {
    font-family: "PalmBeach Trial";
    font-style: normal;
    font-weight: normal;
    src: local("PalmBeach_Trial.otf"),
        url(./assets/fonts/PalmBeach_Trial.otf) format("opentype");
}

@import "./assets/styles/global/_variables.scss";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    font-size: 17px;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}
$pinkBlob: 396px;
$greenBlob: 711px;

body {
    .App {
        min-width: 768px;
        .wrapper {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            flex-direction: column;
            .container__fullwidth {
                position: relative;

                .top {
                    .download {
                        // width: calc(100% - 8rem);
                        // max-width: 1200px;
                        padding: 140px 0px;
                        font-family: "PalmBeach Trial", sans-serif;
                        font-weight: bolder;
                        color: $color-abbey;

                        @media (max-width: 750px) {
                            // top: calc(100vh - 180px);
                            // bottom: 0px;
                        }

                        .name_logo_style {
                            max-width: 290px;
                            padding-bottom: 5px 0;
                        }

                        .btn_set {
                            display: flex;
                            justify-content: flex-end;

                            button {
                                color: white;

                                background-color: rgb(45, 45, 86, 0.4);
                                padding: 15px 36px;
                                border-radius: 2px;
                                &:first-child {
                                    margin-right: 15px;
                                }
                            }
                        }
                        .text_button {
                            margin: 0px auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .text {
                                margin: 3rem 0;
                                font-weight: bolder;

                                font-size: 18px;
                                text-align: center;
                                padding: 1.5rem 3.5rem;
                                font-family: "Lucida Sans Unicode Regular";
                                background-color: rgb(45, 45, 86, 0.4);
                            }
                        }
                    }
                    position: relative;
                    width: calc(100% + 8rem);
                    min-height: 100vh;
                    background-image: url("../../public/bg1.jpg");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media (max-width: 650px) {
                        position: relative;
                    }
                }
                .article-sec {
                    min-height: 100vh;
                    max-width: 1200px;

                    padding-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 1rem;

                    .name-sec {
                        .second_line {
                            // font-family: "Montserrat", Arial, serif;
                            // font-family: "Lucida Sans Unicode Regular";
                            font-size: 14px;
                            color: rgb(177, 177, 177);

                            text-transform: uppercase;
                        }
                        .md-container {
                            position: relative;
                            width: 360px;
                            height: 70px;

                            // max-width: 360px;
                            // min-width: 160px;
                            @media (max-width: 780px) {
                                max-width: 260px;
                            }
                        }

                        padding-bottom: 3rem;
                    }
                    .flexbox {
                        flex-direction: column;
                        display: flex;

                        // padding: 0px 13px;
                        // padding-bottom: 18px;
                        &.reverse {
                            flex-direction: row;

                            @media (max-width: 375px) {
                                flex-direction: column;
                            }
                        }
                        .flex-row {
                            padding: 12px 0;
                            display: flex;
                            @media (max-width: 375px) {
                                flex-direction: column;
                                padding: 0;
                            }
                            .flexitem {
                                display: flex;
                                flex: 1 1 50%;
                                align-items: flex-start;
                                .img-container {
                                    padding-left: 5px;
                                    padding-top: 0.7em;
                                    img {
                                        // object-fit: none;
                                        padding: 0;
                                        // @media(max-width:375px){
                                        //   object-fit: cover;
                                        // }
                                    }
                                    @media (max-width: 780px) {
                                        min-width: 30px;
                                    }
                                    @media (max-width: 375px) {
                                        width: 30px;
                                        min-width: 30px;
                                        padding-top: 1em;
                                    }
                                }
                                .text-container {
                                    b {
                                        font-weight: bold;
                                    }
                                    padding: 5px 35px 5px 12px;
                                    line-height: 160%;
                                    @media (max-width: 780px) {
                                        font-size: 14px;
                                    }
                                    @media (max-width: 375px) {
                                        padding: 10px 16px;
                                        line-height: 160%;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

                .grid {
                    max-width: 1200px;
                    padding: 0 !important;

                    .my-masonry-grid {
                        display: -webkit-box; /* Not needed if autoprefixing */
                        display: -ms-flexbox; /* Not needed if autoprefixing */
                        display: flex;
                        margin-left: -30px; /* gutter size offset */
                        width: auto;
                        :first-child {
                            // padding-left: 0;
                        }
                    }
                    .my-masonry-grid_column {
                        padding-left: 30px; /* gutter size */
                        background-clip: padding-box;
                    }

                    .my-masonry-grid_column {
                        img {
                            padding: 15px 0;
                        }
                    }
                }
                &.grey {
                    background-color: $color-abbey;
                }
                width: 100%;
                padding: 0rem 4rem 0 4rem;

                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                .work_sec {
                    &.carousel {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    width: calc(100% + 8rem);
                    position: relative;
                    overflow: hidden;

                    background-color: #000;
                    min-height: 100vh;
                    .timeline_container {
                        padding: 225px 0 100px 0;
                        .first-line {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                        }
                    }
                }
                @keyframes rotate {
                    100% {
                        transform: rotate(-360deg) scale(1);
                    }
                }
                @keyframes rotate-reverse {
                    100% {
                        transform: rotate(360deg);
                    }
                    80% {
                        transform: rotate(300deg) scale(0.8);
                    }
                }
                .blobs {
                    position: absolute;
                    z-index: 0;
                    width: 100%;
                    top: 0;
                    left: 0;
                    .blob {
                        position: absolute;
                        transform-origin: 101% center;
                    }
                    .blob-pink {
                        z-index: 1;
                        top: calc($pinkBlob / 2);
                        left: calc($pinkBlob / 2);
                        animation: rotate 10s linear infinite;

                        border-radius: 396px;
                        background: linear-gradient(
                            101deg,
                            #b059f3 21.68%,
                            #ff50b9 55.43%,
                            #ffca40 87.13%
                        );
                        filter: blur(175px);
                        width: $pinkBlob;
                        height: $pinkBlob;
                        flex-shrink: 0;
                    }
                    .blob-green {
                        animation: rotate-reverse 9s linear infinite;
                        top: calc($greenBlob / 6);
                        left: calc($greenBlob / 2);
                        border-radius: 711px;
                        transform-origin: 90% center;
                        background: linear-gradient(
                            233deg,
                            rgba(176, 89, 243, 0.6) 14.01%,
                            rgba(90, 201, 243, 0.6) 48.47%,
                            rgba(121, 209, 48, 0.6) 87.53%
                        );
                        filter: blur(150px);
                        width: $greenBlob;
                        height: $greenBlob;
                        flex-shrink: 0;
                    }
                }
            }
            .dropdown {
                padding: 0;
                display: flex;
                position: relative;
                &.main {
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        height: 4px;
                        background: linear-gradient(
                            90deg,
                            #ab9ba6 0,
                            #a65c93 10%,
                            #b07e8d 30%,
                            #a22577 59%,
                            #771755 85%,
                            #3a042a
                        );
                    }
                }
            }
        }
    }
}

.ribbon {
    width: calc(100% + 8rem);
    @include blue-gradient();
    height: 19.5px;
}
