@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Alegre Sans Regular NC"; /*Can be any text*/
    src: url(./assets/fonts/alegre-sans-nc.eot);
    src: url(./assets/fonts/alegre-sans-nc.eot?#iefix)
            format("embedded-opentype"),
        url(./assets/fonts/alegre-sans-nc.woff2) format("woff2"),
        url(./assets/fonts/alegre-sans-nc.woff) format("woff"),
        url(./assets/fonts/alegre-sans-nc.ttf) format("truetype"),
        url(./assets/fonts/alegre-sans-nc.svg#alegre_sansregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@import "./assets/styles/global/_variables.scss";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    font-size: 17px;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    .App {
        // display: flex;
        // align-items: center;
        // width: 100vw;
        // flex-direction: column;
        .wrapper {
            background-color: $color-white;
            display: flex;
            align-items: center;
            flex-direction: column;
            .container--fullwidth {
                width: 100%;
                // background-color: $color-lightGrey;
                // background-color: $color-abbey;
                background-color: $color-dark-black-grey;

                padding: 1.75rem 2rem 0 2rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                &.header {
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        height: 7px;
                        // background: #e46e26;
                        // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0NmUyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y5YTUxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRkMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                        // background: -webkit-linear-gradient(
                        //     left,
                        //     #e46e26,
                        //     #f9a51a 50%,
                        //     #fd0
                        // );
                        background: linear-gradient(
                            90deg,
                            #dfe5e7 0,
                            #acd4ef 50%,
                            #0e67af
                        );
                        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e46e26',endColorstr='#ffdd00',GradientType=1);
                    }
                }
            }
            .dropdown {
                padding: 0;
                display: flex;
                position: relative;
            }
        }
    }
}
