.banner_sec {
    padding: 6rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .banner {
        // font-family: "Alegre Sans Regular NC";
        font-size: 62px;
        // color: #55565a;
        // // background: #f7f7f7;
        // text-align: center;

        // font-family: "Montserrat", Arial, serif;
        font-family: "PalmBeach Trial", sans-serif;
        font-weight: bolder;
        line-height: 0.7;
        font-weight: 700;
        color: #202020;
        text-transform: uppercase;
    }
    .banner-desc {
        color: rgb(177, 177, 177);
        text-align: center;
    }
}
