/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/layout/Header/header.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header_mobile__5uHXN {
  display: none;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t {
  height: 102px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t .header_appLogo_container__ep7DH {
  margin-top: 1.5rem;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t .header_slidemenu__MA_FP {
  padding: 1rem;
  color: #fff;
  font-family: "Montserrat", Arial, serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  background-color: rgba(17, 48, 92, 0.401);
  z-index: 12;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t .header_slidemenu__MA_FP a {
  padding: 10px;
  border-color: white;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t .header_appLogo_container__ep7DH {
  position: relative;
  width: 45px;
  height: 45px;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t .header_appLogo_container__ep7DH img {
  padding-bottom: 10px;
}
.header_header_mobile__5uHXN .header_navHeader__MKW8t .header_topnav__da099 {
  margin-top: 1.5rem;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: right;
}
@media screen and (max-width: 650px) {
  .header_header_mobile__5uHXN {
    display: block;
    width: 90%;
    position: absolute;
    z-index: 10;
  }
}

.header_header__StNQf {
  max-width: 1200px;
  width: 90%;
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 650px) {
  .header_header__StNQf {
    display: none;
  }
}
.header_header__StNQf .header_navHeader__MKW8t {
  height: 102px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header_header__StNQf .header_navHeader__MKW8t .header_appLogo_container__ep7DH {
  position: relative;
  width: 45px;
  height: 45px;
}
.header_header__StNQf .header_navHeader__MKW8t .header_appLogo_container__ep7DH img {
  padding-bottom: 10px;
}
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
}
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 .header_button__GzMOy {
  font-family: "PalmBeach Trial", sans-serif;
  font-weight: bolder;
  line-height: 1;
  color: #f7f7f7;
  padding: 0px 10px 0px 10px;
}
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 .header_slogan__kmYxZ {
  font-size: 32px;
  font-weight: bolder;
  color: whitesmoke;
}
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 nav .header_menuOption__kCm9R {
  padding: 10px;
  margin: 0 5px;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 nav a:visited,
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 nav a:active,
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 nav a:link,
.header_header__StNQf .header_navHeader__MKW8t .header_rightHeader__gErJ3 nav a:hover {
  text-decoration: none;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/Search/search.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.2rem;
  height: 123%;
  right: 1rem;
  border-radius: 6px;
}
form .searchIcon {
  position: absolute;
  left: 5px;
  font-size: 1.7rem;
  box-sizing: border-box;
  background: #f7f7f7;
  z-index: 2;
  padding: 5px 5px 3px 7px;
  border-radius: 13px;
  cursor: pointer;
}
form input {
  position: relative;
  height: 100%;
  width: 1px;
  padding: 0 6px;
  font-size: 1rem;
  line-height: normal;
  padding-left: 15px;
  color: #55565a;
}
form input:focus {
  border: 1px solid #d9d8d8;
}
form input.false {
  border: 0px;
  transform-origin: right top;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
form input.true {
  background-color: #f7f7f7;
  padding: 12px;
  padding-right: 18px;
  padding-left: 30px;
  width: 200px;
  border: 1px solid #d9d8d8;
  transform: scaleX(1);
  transform-origin: right top;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
form input.true.onblur {
  border: 1px solid #55565a;
  width: 200px;
}
form .closeSearchBtn {
  position: absolute;
  right: 9px;
  color: #55565a;
  font-size: 0.9rem;
  padding: 2px;
  cursor: pointer;
}
form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/components/DropDownButton/dropDownButton.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.dropdown {
  padding: 0;
  display: flex;
  position: relative;
}
.dropdown .menu {
  font-family: "PalmBeach Trial", sans-serif;
  flex: 1 1 0;
  width: 100%;
  border-radius: 0;
  line-height: 1;
  color: #f7f7f7;
  position: relative;
}
.dropdown .menu:hover {
  transition: all 0.2s ease-out;
  background-color: rgba(32, 37, 46, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown .menu:hover .dropbtn {
  color: white;
}
.dropdown .menu .dropbtn {
  width: 100%;
  margin: 1rem 0;
  border-style: none;
  cursor: pointer;
  border-left: 1px solid #bb5497;
  transition: all 0.2s ease-out;
}
.dropdown .menu .dropbtn.ele0 {
  border-style: none;
}
.dropdown .menu .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(3.625rem - 4px);
  border-top: 4px solid #f9f9f9;
  background-color: rgba(32, 37, 46, 0.1);
  z-index: 2;
  width: 100%;
  transform: scaleY(0);
}
.dropdown .menu .dropdown-content.expanded {
  transform-origin: top center;
  transform: scaleY(1);
  transition: transform 0.2s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown .menu .dropdown-content a {
  text-align: center;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  position: relative;
}
.dropdown .menu .dropdown-content a:hover {
  color: white;
}
.dropdown .menu .dropdown-content a hr {
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 35%;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown .menu .dropdown-content a hr.none {
  clear: both;
  visibility: hidden;
}
.dropdown .menu.main {
  font-size: 1.625rem;
}
.dropdown .menu.nav {
  font-size: 1.25rem;
  text-decoration: none;
}
.dropdown .menu.nav .dropbtn {
  padding: 0 1rem;
  margin: 0;
  height: 25px;
}
.dropdown .menu.nav .dropbtn.ele0 {
  border-style: solid;
}
.dropdown .menu.nav .dropdown-content {
  width: 200%;
  top: 25px;
  border-radius: 4px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/globals.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-y-0 {
  top: 0px;
  bottom: 0px;
}
.-left-10 {
  left: -2.5rem;
}
.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.me-3 {
  margin-inline-end: 0.75rem;
}
.ml-10 {
  margin-left: 2.5rem;
}
.ms-5 {
  margin-inline-start: 1.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-1 {
  height: 0.25rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-8 {
  height: 2rem;
}
.w-10 {
  width: 2.5rem;
}
.w-10\/12 {
  width: 83.333333%;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-full {
  width: 100%;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.flex-auto {
  flex: 1 1 auto;
}
.-translate-x-2\/4 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.list-disc {
  list-style-type: disc;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.gap-8 {
  gap: 2rem;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-l-2 {
  border-left-width: 2px;
}
.border-r {
  border-right-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-transparent {
  border-color: transparent;
}
.bg-fuchsia-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(162 28 175 / var(--tw-bg-opacity));
}
.bg-fuchsia-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 25 143 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.p-16 {
  padding: 4rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pr-8 {
  padding-right: 2rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.text-\[\#55565a\] {
  --tw-text-opacity: 1;
  color: rgb(85 86 90 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@font-face {
  font-family: "Alegre Sans Regular NC"; /*Can be any text*/
  src: url(/_next/static/media/alegre-sans-nc.5d750f07.eot);
  src: url(/_next/static/media/alegre-sans-nc.5d750f07.eot) format("embedded-opentype"), url(/_next/static/media/alegre-sans-nc.1ab5f218.woff2) format("woff2"), url(/_next/static/media/alegre-sans-nc.6662f1e1.woff) format("woff"), url(/_next/static/media/alegre-sans-nc.7ccb41dd.ttf) format("truetype"), url(/_next/static/media/alegre-sans-nc.cb593e74.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lucida Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Regular"), url(/_next/static/media/LSANS.101e6a95.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Italic"), url(/_next/static/media/LSANSI.fae998e5.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Demibold Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Demibold Roman"), url(/_next/static/media/LSANSD.252a9e9f.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Demibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Demibold Italic"), url(/_next/static/media/LSANSDI.56b2c6b3.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Typewriter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Regular"), url(/_next/static/media/LTYPE.3619dec0.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Unicode Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Unicode Regular"), url(/_next/static/media/l_10646.335f85a4.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Typewriter Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Oblique"), url(/_next/static/media/LTYPEO.4081ddaa.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Typewriter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Bold"), url(/_next/static/media/LTYPEB.862808fa.woff) format("woff");
}
@font-face {
  font-family: "Lucida Sans Typewriter Bold Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Lucida Sans Typewriter Bold Oblique"), url(/_next/static/media/LTYPEBO.4f6d60ed.woff) format("woff");
}
@font-face {
  font-family: "PalmBeach Trial";
  font-style: normal;
  font-weight: normal;
  src: local("PalmBeach_Trial.otf"), url(/_next/static/media/PalmBeach_Trial.87c76b80.otf) format("opentype");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 17px;
}

body .App .wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .App .wrapper .overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.01);
  z-index: 11;
}
body .App .wrapper .container__fullwidth {
  width: 100%;
  padding: 0rem 4rem 0 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
body .App .wrapper .container__fullwidth .top {
  position: relative;
  width: calc(100% + 8rem);
  min-height: 100vh;
  background-image: url(/_next/static/media/bg1.075d7faa.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .App .wrapper .container__fullwidth .top .download {
  padding: 140px 0px;
  font-family: "PalmBeach Trial", sans-serif;
  font-weight: bolder;
  color: #f7f7f7;
}
@media (max-width: 750px) {
  body .App .wrapper .container__fullwidth .top .download {
    font-size: 15px;
  }
}
body .App .wrapper .container__fullwidth .top .download .name_logo_style {
  max-width: 290px;
  padding-bottom: 5px 0;
}
body .App .wrapper .container__fullwidth .top .download .btn_set {
  display: flex;
  justify-content: flex-end;
}
body .App .wrapper .container__fullwidth .top .download .btn_set button {
  color: white;
  background-color: rgba(45, 45, 86, 0.4);
  padding: 15px 36px;
  border-radius: 5px;
}
body .App .wrapper .container__fullwidth .top .download .btn_set button:first-child {
  margin-right: 15px;
}
@media (max-width: 450px) {
  body .App .wrapper .container__fullwidth .top .download .btn_set {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  body .App .wrapper .container__fullwidth .top .download .btn_set button {
    color: white;
    background-color: rgba(45, 45, 86, 0.4);
    padding: 10px 10px;
    border-radius: 5px;
  }
}
body .App .wrapper .container__fullwidth .top .download .text_button {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .App .wrapper .container__fullwidth .top .download .text_button .text {
  margin: 3rem 0;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  padding: 1.5rem 3.5rem;
  font-family: "Lucida Sans Unicode Regular";
  background-color: rgba(45, 45, 86, 0.4);
}
@media (max-width: 650px) {
  body .App .wrapper .container__fullwidth .top .download .text_button .text {
    font-size: 14px;
  }
}
@media (max-width: 650px) and (max-width: 480px) {
  body .App .wrapper .container__fullwidth .top .download .text_button .text {
    font-size: 12px;
  }
}
@media (max-width: 650px) {
  body .App .wrapper .container__fullwidth .top {
    position: relative;
    background-image: url(/_next/static/media/bg2.dac4357f.jpg);
  }
}
@media (max-width: 650px) and (max-width: 480px) {
  body .App .wrapper .container__fullwidth .top {
    width: calc(100% + 4rem);
    background-image: url(/_next/static/media/bg3.fd9d1801.jpg);
  }
}
body .App .wrapper .container__fullwidth .article-sec {
  min-height: 100vh;
  max-width: 1200px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
body .App .wrapper .container__fullwidth .article-sec .name-sec {
  padding-bottom: 3rem;
}
body .App .wrapper .container__fullwidth .article-sec .name-sec .second_line {
  font-size: 14px;
  color: rgb(177, 177, 177);
  text-transform: uppercase;
}
body .App .wrapper .container__fullwidth .article-sec .name-sec .md-container {
  position: relative;
  width: 360px;
  height: 70px;
}
@media (max-width: 780px) {
  body .App .wrapper .container__fullwidth .article-sec .name-sec .md-container {
    max-width: 260px;
  }
}
@media (max-width: 780px) and (max-width: 380px) {
  body .App .wrapper .container__fullwidth .article-sec .name-sec .md-container {
    max-width: 200px;
    height: 50px;
  }
}
@media (max-width: 500px) {
  body .App .wrapper .container__fullwidth .article-sec .name-sec {
    padding-bottom: 2rem;
  }
}
body .App .wrapper .container__fullwidth .article-sec .flexbox {
  flex-direction: column;
  display: flex;
}
body .App .wrapper .container__fullwidth .article-sec .flexbox.reverse {
  flex-direction: row;
}
@media (max-width: 375px) {
  body .App .wrapper .container__fullwidth .article-sec .flexbox.reverse {
    flex-direction: column;
  }
}
body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row {
  padding: 12px 0;
  display: flex;
}
@media (max-width: 375px) {
  body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row {
    flex-direction: column;
    padding: 0;
  }
}
body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem {
  display: flex;
  flex: 1 1 50%;
  align-items: flex-start;
}
body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .img-container {
  padding-left: 5px;
  padding-top: 0.7em;
}
body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .img-container img {
  padding: 0;
}
@media (max-width: 780px) {
  body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .img-container {
    min-width: 30px;
  }
}
@media (max-width: 375px) {
  body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .img-container {
    width: 30px;
    min-width: 30px;
    padding-top: 1em;
  }
}
body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .text-container {
  padding: 5px 35px 5px 12px;
  line-height: 160%;
}
body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .text-container b {
  font-weight: bold;
}
@media (max-width: 780px) {
  body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .text-container {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  body .App .wrapper .container__fullwidth .article-sec .flexbox .flex-row .flexitem .text-container {
    padding: 10px 16px;
    line-height: 160%;
    font-size: 15px;
  }
}
body .App .wrapper .container__fullwidth .grid {
  max-width: 1200px;
  padding: 0 !important;
}
body .App .wrapper .container__fullwidth .grid .my-masonry-grid { /* Not needed if autoprefixing */ /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
@media (max-width: 480px) {
  body .App .wrapper .container__fullwidth .grid .my-masonry-grid {
    margin-left: -10px; /* gutter size offset */
  }
}
body .App .wrapper .container__fullwidth .grid .my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
@media (max-width: 480px) {
  body .App .wrapper .container__fullwidth .grid .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
  }
}
body .App .wrapper .container__fullwidth .grid .my-masonry-grid_column img {
  padding: 15px 0;
}
@media (max-width: 480px) {
  body .App .wrapper .container__fullwidth .grid .my-masonry-grid_column img {
    padding: 10px 0;
  }
}
body .App .wrapper .container__fullwidth.grey {
  background-color: #f7f7f7;
}
@media (max-width: 480px) {
  body .App .wrapper .container__fullwidth {
    padding: 0rem 2rem 0 2rem;
  }
}
body .App .wrapper .container__fullwidth .work_sec {
  width: calc(100% + 8rem);
  position: relative;
  overflow: hidden;
  background-color: #111827;
  min-height: 100vh;
}
body .App .wrapper .container__fullwidth .work_sec.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .App .wrapper .container__fullwidth .work_sec .timeline_container {
  padding: 225px 0 100px 0;
}
body .App .wrapper .container__fullwidth .work_sec .timeline_container .time_period {
  text-align: right;
}
@media (max-width: 650px) {
  body .App .wrapper .container__fullwidth .work_sec .timeline_container {
    padding: 120px 0 100px 0;
    font-size: 13px;
  }
  body .App .wrapper .container__fullwidth .work_sec .timeline_container .first-sec {
    padding-bottom: 0.5rem;
  }
  body .App .wrapper .container__fullwidth .work_sec .timeline_container .first-line div {
    font-size: 16px;
  }
  body .App .wrapper .container__fullwidth .work_sec .timeline_container .text-lg {
    font-size: 14px;
    line-height: 1rem;
  }
}
@media (max-width: 650px) and (max-width: 450px) {
  body .App .wrapper .container__fullwidth .work_sec .timeline_container {
    padding: 100px 0 100px 0;
    font-size: 12px;
  }
  body .App .wrapper .container__fullwidth .work_sec .timeline_container .first-line div {
    font-size: 14px;
  }
  body .App .wrapper .container__fullwidth .work_sec .timeline_container .text-lg {
    font-size: 12px;
  }
}
@media (max-width: 650px) and (max-width: 450px) and (max-width: 380px) {
  body .App .wrapper .container__fullwidth .work_sec .timeline_container .time_period {
    display: none;
  }
}
body .App .wrapper .container__fullwidth .work_sec .timeline_container .first-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
@keyframes rotate-reverse {
  100% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(300deg) scale(0.8);
  }
}
body .App .wrapper .container__fullwidth .blobs {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
}
body .App .wrapper .container__fullwidth .blobs .blob {
  position: absolute;
  transform-origin: 101% center;
}
body .App .wrapper .container__fullwidth .blobs .blob-pink {
  z-index: 1;
  top: 198px;
  left: 198px;
  animation: rotate 10s linear infinite;
  border-radius: 396px;
  background: linear-gradient(101deg, #b059f3 21.68%, #ff50b9 55.43%, #ffca40 87.13%);
  filter: blur(175px);
  width: 396px;
  height: 396px;
  flex-shrink: 0;
}
body .App .wrapper .container__fullwidth .blobs .blob-green {
  animation: rotate-reverse 9s linear infinite;
  top: 118.5px;
  left: 355.5px;
  border-radius: 711px;
  transform-origin: 90% center;
  background: linear-gradient(233deg, rgba(176, 89, 243, 0.6) 14.01%, rgba(90, 201, 243, 0.6) 48.47%, rgba(121, 209, 48, 0.6) 87.53%);
  filter: blur(150px);
  width: 711px;
  height: 711px;
  flex-shrink: 0;
}
body .App .wrapper .dropdown {
  padding: 0;
  display: flex;
  position: relative;
}
body .App .wrapper .dropdown.main:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #ab9ba6 0, #a65c93 10%, #b07e8d 30%, #a22577 59%, #771755 85%, #3a042a);
}

.ribbon {
  width: calc(100% + 8rem);
  background: #80c0e8;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0NmUyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y5YTUxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRkMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(to right, #b2e2ea 0%, #77a5e5 50%, #2858b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e46e26", endColorstr="#ffdd00",GradientType=1 );
  height: 19.5px;
}
@media (max-width: 480px) {
  .ribbon {
    width: calc(100% + 4rem);
  }
}

.volunteer {
  background-color: rgb(31, 28, 32) !important;
}

.CA {
  background-color: rgb(80, 150, 150) !important;
}

.CHN {
  background-color: rgb(240, 78, 92) !important;
}

.AU {
  background-color: rgb(188, 57, 199) !important;
}

.hover\:-translate-y-2:hover {
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-gray-300:hover {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.hover\:text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:cursor-text:focus {
  cursor: text;
}

@media (min-width: 640px) {

  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:text-center {
    text-align: center;
  }
}

@media (min-width: 768px) {

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:w-7\/12 {
    width: 58.333333%;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }
}

@media (min-width: 1024px) {

  .lg\:my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .lg\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (prefers-color-scheme: dark) {

  .dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .dark\:hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/layout/Footer/footer.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__Zz3lD {
  font-family: "Montserrat", Arial, serif;
  width: calc(100% + 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_footer__Zz3lD:before {
  content: "";
  position: absolute;
  left: 50%; /* Start from center */
  transform: translateX(-50%); /* Pull back by 50% of element's width */
  z-index: 1;
  width: 90%;
  height: 4px;
  background: linear-gradient(90deg, #ab9ba6 0, #a65c93 10%, #b07e8d 30%, #a22577 59%, #771755 85%, #3a042a);
}
.footer_footer__Zz3lD .footer_footer_text__jlNx5 {
  text-align: center;
  font-size: 1.5rem;
}
.footer_footer__Zz3lD .footer_footer_column__k_obH {
  display: flex;
  padding: 30px 0;
}
.footer_footer__Zz3lD .footer_footer_column__k_obH .footer_columnItem__WKeoJ {
  text-wrap: nowrap;
  flex: 1 1 0;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer_footer__Zz3lD .footer_footer_column__k_obH .footer_columnItem__WKeoJ .footer_columnItem_header__LJL3Y {
  text-transform: uppercase;
  font-weight: bolder;
}
.footer_footer__Zz3lD .footer_footer_column__k_obH .footer_columnItem__WKeoJ:last-of-type {
  padding-right: 0;
}
@media (max-width: 500px) {
  .footer_footer__Zz3lD {
    width: calc(100% + 4rem);
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/Banner/banner.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.banner_banner_sec__6emzY {
  padding: 6rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 450px) {
  .banner_banner_sec__6emzY {
    padding: 3.5rem 0 2rem 0;
  }
}
@media (max-width: 450px) and (max-width: 350px) {
  .banner_banner_sec__6emzY {
    padding: 3rem 0 2rem 0;
  }
}
.banner_banner_sec__6emzY .banner_banner__yo22_ {
  font-size: 62px;
  font-family: "PalmBeach Trial", sans-serif;
  font-weight: bolder;
  line-height: 0.7;
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .banner_banner_sec__6emzY .banner_banner__yo22_ {
    font-size: 35px;
    font-family: "Montserrat", Arial, serif;
  }
}
@media (max-width: 450px) and (max-width: 350px) {
  .banner_banner_sec__6emzY .banner_banner__yo22_ {
    font-size: 28px;
  }
}
.banner_banner_sec__6emzY .banner_banner-desc__d2gPS {
  color: rgb(177, 177, 177);
  text-align: center;
}
