/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/Brands/brands.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.brands_brands__SiB_E {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.brands_brands__SiB_E .brands_brandItem__Cl0x0 {
  padding: 20px 0;
}
.brands_brands__SiB_E .brands_brandImg__GqFAE {
  height: 85px;
  width: 85px;
  background-color: #476cbc;
  background-image: url("/brands/8a73a2eeab599077d64898aafd00b40d.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/components/Banner/banner.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.banner_banner__yo22_ {
  padding: 40px 0;
  font-size: 62px;
  font-family: "Montserrat", Arial, serif;
  line-height: 1.4;
  font-weight: 700;
  color: #202020;
  text-transform: uppercase;
}
